/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* popup card */
.popup {
  position: relative;
  max-width: 520px;
  width: 90%;
  // background: white;
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.4s ease;
}

.closeBtn {
  position: absolute;
  top: 26px;
  right: 30px;
  border-radius: 50%;
  // font-size: 18px;
  cursor: pointer;
  padding: 2px;
  z-index: 9;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.formWrapper {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    position: relative;

    .absoluteBgColor {
        height: 150%;
        width: 150%;
        border-radius: 50%;

        background-color: var(--primary-orange);

        position: absolute;
        top: -45%;
        left: -45%;
        transform: translateX(-50%, -50%);
        background: radial-gradient(ellipse at center,
                rgba(255, 140, 0, 0.35) 0%,
                rgba(255, 140, 0, 0.2) 30%,
                rgba(255, 140, 0, 0.05) 55%,
                transparent 70%);

        filter: blur(50px);
        pointer-events: none;
        opacity: 0.3;
    }

    @media (max-width: 992px) {
        justify-content: center;
    }
}

.formCard {
    background: #1a1a1a;
    padding: 36px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    border: 1px solid #333;

    position: relative;
    z-index: 1;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 8px;
        font-family: var(--font-fustat);
    }

    p {
        font-size: 0.9rem;
        color: #888;
        margin-bottom: 24px;
        font-family: var(--font-fustat);

        span {
            color: #fff;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.025rem;
        }
    }
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input,
.textarea {
    width: 100%;
    background: #222;
    border: 1px solid #333;
    color: #fff;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 0.95rem;

    font-family: var(--font-fustat);

    &:focus {
        outline: none;
        border-color: var(--primary-orange);
    }

    &::placeholder {
        color: #666;
    }
}

.textarea {
    resize: none;
}

.submitBtn {
    width: max-content;
    padding: 12px 24px;

    background-color: var(--primary-orange);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: background 0.2s;
    margin-top: 10px;

    &:hover {
        background-color: darken(#ff6b00, 5%); // Assuming orange is somewhat like this
    }
}

.formCardTitle {
    font-size: 28px !important;
    font-weight: 600;
    font-family: var(--font-fustat);
    line-height: 100%;
    letter-spacing: -2%;
}

.formDesc {
    font-size: 15px !important;
    font-weight: 400;
}