.sustainabilitySection {
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    color: #fff;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('../../assets/images/project_img.jpg');
        background-size: cover;
        background-position: center;
        transform: scaleX(-1);
        z-index: -1;
    }

    @media (max-width: 768px) {
        height: 425px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.container {
    // position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content {
    margin-bottom: 60px;
}

.title {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;

    // opacity: 0;
    // transform: translateY(20px);
    // animation: slideUp 1s ease-out forwards;

    @media (max-width: 768px) {
        font-size: 1.55rem;
    }
}

.ctaButton {
    background-color: var(--primary-orange);
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: transform 0.2s;

    position: relative;
    z-index: 2;

    &:hover {
        transform: translateY(-2px);
    }

    @media (max-width: 768px) {
        font-size: 0.7rem;
        padding: 8px 20px;
        border-radius: 8px;
    }
}

.stats {
    position: absolute;
    bottom: 3rem;
    right: 5rem;
    display: flex;
    gap: 60px;
    text-align: left;
    padding-bottom: 20px;

    .statItem {
        display: flex;
        flex-direction: column;
    }

    .statNumber {
        font-size: 3.9rem;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 8px;
    }

    .statLabel {
        font-size: 1rem;
        line-height: 1.4;
    }

    @media (max-width: 768px) {
        position: absolute;
        bottom: 0%;
        left: 45%;
        transform: translate(-50%, -0%);

        display: flex;
        gap: 10px;
        text-align: left;
        padding-bottom: 20px;

        .statItem {
            display: flex;
            flex-direction: column;
        }

        .statNumber {
            padding: 0 20px 0 0;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1;
            margin-bottom: 8px;
        }

        .statLabel {
            font-size: 0.5rem;
            line-height: 1.4;
        }
    }
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
}

.fadeUp {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease;
}

.fadeUpDelay1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease 0.2s;
}

.fadeUpDelay2 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease 0.4s;
}

.fadeUpDelay3 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease 0.6s;
}



// @keyframes slideUp {
//     from {
//         opacity: 0;
//         transform: translateY(60px);
//     }

//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }