.faqSection {
    background-color: #1a1a1a;
    color: #fff;
    padding: 80px 0;

    @media (max-width: 768px) {
        padding: 10% 6%;
    }
}

.faqList {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 768px) {
        margin: 0;
    }
}

.faqItem {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.2s;
    border: 1px solid transparent;

    &:hover {
        background: #2a2a2a;
    }

    &.active {
        border-color: #444;

        .answerBody {
            max-height: 200px; // Approximate max height
            padding-bottom: 20px;
            opacity: 1;
        }

        .questionHeader {
            color: var(--primary-orange);
        }
    }
}

.questionHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 1.1rem;

    h3 {
        font-size: 1rem;
        margin: 0;
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 0.9rem;
        }
    }
}

.answerBody {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    color: #aaa;
    line-height: 1.6;
    font-size: 0.95rem;

    @media (max-width: 768px) {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
}

.bottomCta {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.ctaCard {
    background: #222;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h3 {
        font-size: 46px;
        margin-bottom: 12px;
        font-weight: 500;
        // line-height: 56px;
        font-family: var(--font-fustat);
    }

    p {
        color: #888;
        margin-bottom: 24px;
        font-size: 16px;
        font-family: var(--font-fustat);
    }

    .ctaBtn {
        background-color: var(--primary-orange);
        color: #fff;
        border: none;
        padding: 10px 24px;
        border-radius: 6px;
        font-weight: 500;
        font-family: var(--font-fustat);
        // line-height: 24px;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
            background-color: darken(#ff6b00, 5%);
        }
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 1.2rem;
            margin-bottom: 9px;
        }

        p {
            color: #888;
            margin-bottom: 24px;
        }
    }
}